
.defaultHeight2Col{
height: 50%;

}


.defaultHeight1Col{
    height: 100%;

    }
    

    .defaultHeight3Col{
        height: 25%;
        background: linear-gradient(90deg, rgba(195,195,195,1) 0%, rgba(85,84,81,1) 51%);
        }

.defaultBakground{
    background: linear-gradient(90deg, rgba(195,195,195,1) 0%, rgba(85,84,81,1) 51%);
    border-radius: .5rem;
    
}

.defaultBakground::after{
    background: linear-gradient(to left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%);
    animation: slide 1200ms infinite;
    content:'';
    top:0;
     
      height: 100%;
      margin-right: 10vw;
      width: 10vw;
      position: absolute;
      z-index:1;

}

.radiusss{
    border-radius: .5rem;
}

@keyframes slide {
	
}

.componentClass{

}